@import "core";
@import "modules/forms";
@import "modules/separator";
@import "modules/header";
@import "modules/footer";



#home {

  &.loading {

    .page-wrap {

      #main-header {
        .logo {
          width: 140px;
          top: 50px;
        }
        .page-title {
          top: 200px;
        }
      }

      #section-intro {
        &::after {
          opacity: 0;
        }

        .bg2 {
          right: 0;

          @include small-mobile(){
            right: -80px;
            top: -100px;
          }
        }
        .bg3 {
          left: 0;

          @include small-mobile(){
            left: 0;
            top: 450px;
            border-top: 90px solid transparent;
            border-bottom: 90px solid transparent;
            border-left: 170px solid #311d3f;
          }
        }
        .bg4 {
          left: 0;

          @include small-mobile(){
            left: 0px;
            top: 480px;
          }
        }
        .bg5 {
          left: 0;
        }
        .page-sub-title {
          opacity: 1;
          top:265px;
        }
        .dl-sibapp {
          opacity:1;
        }
        .login {
          opacity:1;
        }
        .music1 {
          opacity:1;
        }
        .music2 {
          opacity:1;
        }
        .music3 {
          opacity:1;
        }
        .music4 {
          opacity:1;
        }

      }

    }

  }

  &.loaded {
    //overflow-y: initial;

    .page-wrap {
      #section-intro {
        &::after {
          display: none;
        }
      }
    }
  }




  .page-wrap {

    #main-header {
      .logo {
        top: 100px;
        right: 0;
        width: 200px;
        left: 0;
        margin: auto;
      }

      .page-title {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        top: 310px;
        font-size: 40px;
        color: #4A4A4A;
        font-weight: 900;
        display: block;
        z-index: 3;
        -webkit-transition: all 1.15s cubic-bezier(.77,0,.175,1);
        transition: all 1.15s cubic-bezier(.77,0,.175,1);
      }
    }

    #section-intro {
      height: 100vh;


      .bg1 {
        height: 100%;
        background-color: #F9FAFF;
        width: 100%;
        position: absolute;
        left: 0px;
      }
      .bg2 {
        width: 0;
        height: 0;
        border-top: 140px solid transparent;
        border-bottom: 140px solid transparent;
        border-right: 210px solid #311D3F;
        position: absolute;
        right: -800px;
        top: -80px;


        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.3s;
      }

      .bg3 {
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 210px solid #311d3f;
        position: absolute;
        left: -500px;
        top: 100px;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        transition-delay: .7s;
      }

      .bg4 {
        width: 0;
        height: 0;
        border-top: 110px solid transparent;
        border-bottom: 100px solid transparent;
        border-left: 160px solid #88304e;
        position: absolute;
        left: -500px;
        top: 190px;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        transition-delay: 1s;
      }
      .bg5 {
        height: 7vh;
        background: #321d40;
        width: 97%;
        position: absolute;
        left: -500;
        bottom: 0;

        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        transition-delay: .9s;
      }

      .music1 {
        position: absolute;
        right: calc(50% + 160px);
        top: 130px;
        width: 40px;
        animation: circle 12s linear alternate infinite;

        -webkit-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        opacity: 0;
        transition-delay: 1s;

        @include small-mobile(){
          display: none;
        }

      }
      .music2 {
        position: absolute;
        right: calc(50% - 170px);
        top: 110px;
        width: 55px;
        animation: circle 6s linear alternate infinite;
        opacity: 0;

        -webkit-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        transition-delay: 1s;

        @include small-mobile(){
          display: none;
        }
      }
      .music3 {
        position: absolute;
        right: calc(50% + 200px);
        top: 250px;
        width: 50px;
        animation: circle 10s linear alternate infinite;
        opacity: 0;

        -webkit-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        transition-delay: 1s;

        @include small-mobile(){
          display: none;
        }
      }
      .music4 {
        position: absolute;
        right: calc(50% - 240px);
        top: 230px;
        width: 44px;
        animation: circle 15s linear alternate infinite;
        opacity: 0;
        transition-delay: 1s;

        -webkit-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;

        @include small-mobile(){
          display: none;
        }
      }



      .page-sub-title {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        top: 310px;
        font-size: 27px;
        opacity: 0;
        color: #4a4a4a;
        font-weight: 100;
        display: block;
        z-index: 3;
        -webkit-transition: all 1.15s cubic-bezier(.77, 0, .175, 1);
        transition: all 1.15s cubic-bezier(.77, 0, .175, 1);
        transition-delay: 0.15s;
      }

      .dl-sibapp {
        position: absolute;
        border: 1px solid #e23e57;
        color: #e23e57;
        left: 0;
        right: 0;
        margin: auto;
        width: 260px;
        text-align: center;
        padding: 15px 0;
        font-size: 15px;
        top: 390px;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;

        -webkit-transition: color 300ms ease-in-out;
        transition: color 300ms ease-in-out;

        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;

        &:hover {
          background: #e23e57;
          color: #fff;
        }

      }

      .login {
        position: absolute;
        border: 1px solid #88304e;
        color: #88304e;
        left: 0;
        right: 0;
        margin: auto;
        width: 260px;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        font-size: 15px;
        top: 330px;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;

        -webkit-transition: color 300ms ease-in-out;
        transition: color 300ms ease-in-out;

        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;

        &:hover {
          background: #88304e;
          color: #fff;
        }
      }

      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F9FAFF;
        z-index: 2;

        -webkit-transition: all 0.9s ease-in-out;
        transition: all 0.9s ease-in-out;
        transition-delay: 600ms;
      }
    }
  }
}