@import "core";
@import "modules/forms";
@import "modules/separator";
@import "modules/header";
@import "modules/footer";


#search {
  background: #FFFDFD;

  .page-wrap {

    .container {
      width: 600px;
      margin: auto;
      margin-top: 50px;

      @include small-mobile(){
        width: 95%;
      }

      #main-box-header {
        display: flex;
        justify-content: left;
        align-items: center;
        direction: ltr;
        position: relative;

        .logo {
          width: 40px;
          @include small-mobile(){
            margin-bottom: 50px;
          }
        }
        .title {
          display: inline-block;
          margin-left: 10px;
          font-size: 30px;
          @include small-mobile(){
            margin-bottom: 50px;
          }
        }
        .link {
          right: 0;
          position: absolute;
          bottom: 0;
          font-weight: 400;
          font-size: 14px;
          color: #E23E57;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

          &:hover {
            color: #88304E;
          }
          @include small-mobile(){
            width: 100%;
            background: #e23e57;
            color: #fff;
            text-align: center;
            padding: 10px;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      #box {
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to top, #522546, #88304E) 11;
        margin-top: 10px;
        margin-bottom: 20px;

        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        .player {
          background: #85304e;
          direction: ltr;
          padding: 10px 20px;
          display: none;
          position: relative;


          .button {
            position: absolute;
            top: 11px;
            right: 23px;
            width: 35px;
            cursor: pointer;
            display: none;
          }
          .load {
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 20px;
            top: 8px;
          }
          .detail {
            width: 80%;

            @include small-mobile(){
              width: 70%
            }
            .name {
              color: #fff;
              font-weight: 100;
              font-size: 21px;
              line-height: 1;
              white-space: nowrap;
              overflow: hidden!important;
              text-overflow: ellipsis;

              @include small-mobile(){
                font-size: 14px;
              }
            }
            .artist {
              white-space: nowrap;
              overflow: hidden!important;
              text-overflow: ellipsis;
              line-height: 1.5;
              font-size: 14px;
              color: #cecece;
              font-weight: 100;

              @include small-mobile(){
                font-size: 12px;
              }
            }
          }
        }

        .header {
          padding: 15px 20px;
          border-bottom: 3px solid #612949;
          display: flex;
          align-items: center;

          @include small-mobile(){
            padding: 5px 10px;
          }

          .icon {
            width: 35px;
          }
          .search-input {
            border: 0;
            width: 100%;
            outline: 0;
            padding-right: 20px;
            font-size: 16px;
            color: #311d3f;
            font-weight: 400;

            @include small-mobile(){
              font-size: 13px;
            }

            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
              color:    #CCCCCC;
              font-weight: 100;

            }
          }

        }
        .body {
          padding: 10px 20px;
          background: #F9FAFF;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          min-height: 300px;
          position: relative;

          @include small-mobile(){
            padding: 10px 5px;
          }

          .error {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            font-size: 20px;
            top: 110px;
            color: #522546;
            font-weight: 100;
          }

          .item {
            position: relative;
            display: flex;
            align-items: center;
            direction: ltr;
            padding: 10px 0;
            border-bottom: 1px solid #EEEEEE;

            .photo {
              width: 70px ;
              height: 70px;
              margin-right: 10px;
              border: 1px solid rgba(238, 238, 238, 0.49);


              @include small-mobile(){
                padding: 10px 5px;
                margin-right: 5px;
              }

            }
            .detail {
              @include small-mobile(){
                width: 70%;
              }
              .track {
                font-size: 18px;
                color: #311d3f;
                white-space: nowrap;
                overflow: hidden!important;
                text-overflow: ellipsis;
                width: 300px;
                @include small-mobile(){
                  font-size: 15px;
                  width: 70%;
                }

              }
              .artist {
                font-size: 14px;
                font-weight: 100;
                color: silver;
                @include small-mobile(){
                  width: 70%;
                }
              }
            }

            .get {
              position: absolute;
              right: 0;
              width: 140px;
              text-align: center;
              border-width: 2px;
              border-style: solid;
              border-image: linear-gradient(50deg,#e23e57,#88304E) 1;
              padding: 9px;
              color: #311D3F;
              font-size: 13px;
              cursor: pointer;
              -webkit-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
              direction: rtl;


              @include small-mobile(){
                width: 95px;
                font-size: 11px;
              }

              &:hover {
                background: #E23E57;
                color: #fff;
              }

              &.green {
                border-image: linear-gradient(50deg,#009688,#88304E) 1;
                &:hover {
                  background: #009688;
                  color: #fff;
                }
              }

              &.disable {
                cursor: no-drop;
                background: #e0e0e0;

                &:hover {
                  background: #e0e0e0;
                  color: #311D3F;
                }
              }
            }
          }
        }
      }
    }

  }

}







.bubblingG {
  text-align: center;
  width: 78px;
  height: 49px;
  margin: auto;
  margin-top: 90px;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 24px auto;
  background: rgb(0,0,0);
  border-radius: 49px;
  -o-border-radius: 49px;
  -ms-border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  animation: bubblingG 0.75s infinite alternate;
  -o-animation: bubblingG 0.75s infinite alternate;
  -ms-animation: bubblingG 0.75s infinite alternate;
  -webkit-animation: bubblingG 0.75s infinite alternate;
  -moz-animation: bubblingG 0.75s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(0,0,0);
    transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    transform: translateY(-20px);
  }
}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(0,0,0);
    -o-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    -o-transform: translateY(-20px);
  }
}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(0,0,0);
    -ms-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    -ms-transform: translateY(-20px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(0,0,0);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(0,0,0);
    -moz-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(255,255,255);
    -moz-transform: translateY(-20px);
  }
}