$color_gray_level1: #f2f3f4;
$color_gray_level2: #dfe0e1;
$color_gray_level3: #B5B7B9;
$color_gray_level4: #BCBEC0;
$color_gray_level5: #BCBEC0;
$color_gray_level6: #A7A9AC;
$color_gray_level7: #939598;
$color_gray_level8: #808285;
$color_gray_level9: #6D6E71;
$color_gray_level10: #58595B;
$color_gray_level11: #414042;


$color_primary: #005E9E;
$color_secondary: #00AEEF;
$color_black: #000;
$color_white: #fff;

$color_red: #d52833;
$color_green: #6fb54b;


$color_orange: #f66d34;
$color_orange_2: #f88a5d;
$color_blue: #24a9e6;
$color_pink: #df2768;



